<!DOCTYPE HTML>
<html lang="tr">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% block meta %}
      <title>Webend</title>
    {% endblock %}
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="/bower_components/lightbox2/dist/css/lightbox.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel=stylesheet href="css/main{% if production %}.min{% endif %}.css">
    {% block headerStylesheets %}{% endblock %}
    {% block headerJavascripts %}{% endblock %}
  </head>
  <body>

  <div id="page">
    {% block body %}{% endblock %}
  </div>

  <!-- Javascript Files -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="/bower_components/lightbox2/dist/js/lightbox.min.js"></script>
  {% if production %}
  <script src="js/app.min.js"></script>
  {% else %}
  <script src="js/main.js"></script>
  {% endif %}
  {% block footerJavascripts %}{% endblock %}
  </body>
</html>
