a, .panel-group .panel .panel-title a, 
.panel-group .panel .panel-title a:hover, 
.follow_us ul li a:hover, 
.meta_m .fa, .meta_m a:hover, 
.sidebar_widgets ul li a:hover, 
.entry-desc h3 a:hover, .info_m h6 a:hover, 
.navbar.navbar-default .nav.navbar-nav li a:hover,
.navbar.navbar-default .nav.navbar-nav li a:focus,
.navbar.navbar-default .nav.navbar-nav li.active a,
.navbar.navbar-default .nav.navbar-nav li.active a:focus, 
.navbar.navbar-default .nav.navbar-nav li.open a, 
.navbar.navbar-default .nav.navbar-nav li.dropdown.open > a,
.navbar.navbar-default .nav.navbar-nav li.open a:hover, 
.navbar.navbar-default .nav.navbar-nav li.open a:focus, 
.pagination > li > a, .pagination > li > span, 
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, 
.btn-link, .btn.outline-btn {
  color:#2dcc70;	
  fill: #2dcc70;
}
a:hover, a:focus,
.btn-link:hover, .btn-link:focus {
  color:#21b55f;	
  fill: #21b55f;
}
.btn, 
.primary-bg, 
.about_info, 
.about_info:after, 
.topics:after, 
.speakers_img:after, 
.social-icons a:hover, 
.schedule_date ul li.active a, .schedule_date ul li:hover a, 
.schedule_date ul li:focus a, .schedule_date ul li a:focus, 
.pricing_header, 
.venu_info:hover .venu_icon, 
.event_date, 
.widget_title::after, 
.demo_changer .demo-icon, 
.navbar.navbar-default .nav.navbar-nav .dropdown-menu, 
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .panel-heading:hover .panel-title a .question, .panel-title a .question, 
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li a:hover, .nav-tabs > li a:focus, .event_location, 
.tagcloud a  {
  background:#2dcc70;
  fill: #2dcc70;
}
.btn:hover, .btn:focus, .tagcloud a:hover {
  background-color:#21b55f;
  fill: #21b55f;
}
.social-icons a:hover, 
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .panel-heading:hover .panel-title a, .panel-title a, .btn.outline-btn  {
	border-color:#2dcc70;
}
