
$body-bg:               $global-bg-color !default;
$text-color:            $global-text-color !default;
$link-color:            $global-link-color !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

$font-size-base: 20px !default;
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-h1: 48px !default;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: $font-size-base !default;
$font-size-h6: 0.857em;

$line-height-base: 1.428571429 !default;
$line-height-computed: floor(($font-size-base * $line-height-base)) !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.1 !default;
$headings-color:       $global-title-color !default;
$headings-small-color: $color-monsoon;

$text-muted: $color-monsoon !default;
$hr-border: $global-border-color !default;


$font-size-small: $font-size-base - 2px;
$font-size-xsmall: $font-size-base - 4px;
$font-size-medium: $font-size-base + 2px;
$font-size-large: $font-size-base + 4px;
$font-size-xlarge: $font-size-base + 8px;

$g-base-gap: $line-height-computed;
$g-gaps: (
  normal: (
    x: round($g-base-gap / 2),
    y: $g-base-gap
  ),
  small: (
    x: round($g-base-gap / 4),
    y: round($g-base-gap / 2)
  ),
  xsmall: (
    x: round($g-base-gap / 6),
    y: round($g-base-gap / 4)
  ),
  medium: (
    x: round($g-base-gap * 0.75),
    y: round($g-base-gap * 1.5)
  ),
  large: (
    x: $g-base-gap,
    y: round($g-base-gap * 2)
  )
);

$g-base-padding: 60px;
$g-pads: (
  normal: $g-base-padding,
  small: ($g-base-padding / 2),
  medium: ($g-base-padding * 1.5),
  large: ($g-base-padding * 2)
);

$c-button-function-factor: -20% !default;
$c-button-font-family: null !default;
$c-button-bg-color: $color-jade !default;
$c-button-bg-hover: scale-color($c-button-bg-color, $lightness: $c-button-function-factor) !default;
$c-button-border-color: $c-button-bg-hover !default;
$c-button-radius: 3px !default;
$c-button-font-size: 14px !default;
$c-button-line-height: null !default;
$c-button-font-color: $color-white !default;
$c-button-font-color-alt: $color-oil !default;
$c-button-padding-vertical: 10px !default;
$c-button-padding-horizontal: 20px !default;
$c-button-border-width: 0 !default;


$c-input-bg-color:           inherit !default;
$c-input-bg-color-disabled:  $color-smoke !default;
$c-input-color:              $color-charcoal !default;
$c-input-color-placeholder:  $color-monsoon !default;
$c-input-border-color:       $color-iron !default;
$c-input-border-width:       1px !default;
$c-input-border-radius:      null !default;
$c-input-border-focus:       #66afe9 !default;
$c-input-font-size:          $font-size-base !default;
$c-input-line-height:        $line-height-computed !default;
$c-input-padding-vertical:   6px;
$c-input-padding-horizontal: 12px;
$c-input-height-base:        ($c-input-line-height + ($c-input-padding-vertical * 2) + ($c-input-border-width * 2)) !default;


$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;


$g-transition-duration: .4s;
