<div class="c-about u-pad-top-large u-pad-bottom-large">
    <div class="container">
        <div class="l-grid__col l-grid__col--lg-8 l-grid__col--offset-lg-2">
            <p class="c-about__title"><b class="u-secondary-text-color">Webend</b> maintained the sharp distinction between science and the practical knowledge of artisans, treating theoretical speculation as the highest type of human activity, practical</p>
            <hr class="c-about__seperator">
            <p class="c-about__detail">Aristotle maintained the sharp distinction between science and the practical knowledge of artisans, treating theoretical speculation as the highest type of human activity, practical thinking about good living as something.</p>
        </div>
    </div>
</div>