<div class="c-contact u-pad-top-small u-pad-bottom-small">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-4 l-grid__col--offset-lg-4 l-grid__col--md-4 l-grid__col--offset-md-4 l-grid__col--sm-12 l-grid__col--xs-12 u-text-center">
        <h3 class="c-contact__title">İLETİŞİME GEÇİN</h3>
        <form class="contact-form">
          <div class="c-contact__form u-gap-top-small u-gap-bottom-small">
            <div class="c-contact__form__group u-gap-bottom-small">
              <input type="text" name="name" class="c-contact__form__group__input u-text-center" placeholder="Adınız Soyadınız" required />
            </div>
            <div class="c-contact__form__group u-gap-bottom-small">
              <input type="email" name="email" class="c-contact__form__group__input u-text-center" placeholder="E-Posta" required />
            </div>
            <div class="c-contact__form__group u-gap-bottom-small">
              <button class="c-button c-button--primary">
                <span>Kayıt Ol</span>
                <i class="icon icon-arrow-right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
