<div class="c-footer u-pad-top-large u-pad-bottom-large">
  <div class="container">
    <h4 class="c-footer__message u-text-center u-gap-bottom-medium">2017 © WEBEND - SENEYE DE GÖRÜŞÜRÜZ</h4>
    <figure class="c-footer__logo">
      <a href="http://90pixel.com" target="_blank"><img src="/assets/images/pixel.svg" alt="90Pixel"></a>
    </figure>
  </div>
</div>
