<div class="c-header u-gap-top-large">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col--lg-6 l-grid__col--offset-lg-3">
        <figure class="c-header__logo">
          <img src="/assets/images/webend.png" alt="webend" class="img-responsive" />
        </figure>
        <h2 class="c-header__description u-gap-top-medium u-gap-bottom-medium u-text-center u-font-weight-bold">Webend 2017 Yazılımcı Hikayeleri <span class="u-secondary-text-color u-text-nowrap">22 Nisan</span>’da Bahçeşehir Üniversitesi’nde!</h2>
      </div>
    </div>
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-12 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12 u-text-center">
        <button class="c-header__button">TIKLA GEL <i class="circle"></i></button>
      </div>
    </div>
    <div class="c-header__register">
      <h4 class="c-header__register__title u-text-center">KAYIT FORMUNU TAKİP ET</h4>
      <div class="c-header__register__form">
        <form class="contact-form">
          <div class="c-header__register__form__group">
            <input type="text" name="name" class="c-header__register__form__group__input" placeholder="Adınız Soyadınız" required />
          </div>
          <div class="c-header__register__form__group u-gap-top-small">
            <input type="email" name="email" class="c-header__register__form__group__input" placeholder="E-Posta" required />
          </div>
          <div class="c-header__register__form__group u-gap-top-small">
            <button class="c-button c-button--primary">
              <span>Kayıt Ol</span>
              <i class="icon icon-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>
      <button class="c-header__register__button u-gap-top-medium">FORMU KAPAT <i class="circle"></i></button>
    </div>
  </div>
</div>
