<div class="c-location u-pad-top-large u-pad-bottom-large" style="background-image:url(http://placehold.it/1920x500)">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-6 l-grid__col--offset-lg-3 u-text-center">
        <figure class="c-location__icon">
          <img src="/assets/images/8bit-map-marker.png" alt="" class="img-responsive" />
        </figure>
        <p class="c-location__text u-gap-top-medium">Bahçeşehir Üniversitesi Mahmut Efendi Yerleşkesi Konferans Salonu</p>
        <a href="http://www.bahcesehir.edu.tr/icerik/3522-kurumsal-iletisim-direktorlugu-iletisim-ulasim" class="c-location__button c-button" target="_blank">NASIL GELEBİLİRİM?</a>
      </div>
    </div>
  </div>
</div>
