<div class="c-places u-gap-top-large u-gap-bottom-large">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-12 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12">
        <h5 class="c-places__title u-text-center">BİZE YAKIN MEKANLAR</h5>
      </div>
    </div>
    <div class="c-places__list">
      {% for j in 1..4 %}
        <div class="l-grid">
          <div class="l-grid__col l-grid__col--lg-5 l-grid__col--offset-lg-1 l-grid__col--md-6 l-grid__col--sm-12 l-grid__col--xs-12">
            <a href="" target="_blank">
              <div class="c-places__list__item">
                <h6 class="c-places__list__item__type">KONAKLAMA</h6>
                <p class="c-places__list__item__name">Milli Eğitim Bakanlığı Öğretmenevleri</p>
              </div>
            </a>
          </div>
          <div class="l-grid__col l-grid__col--lg-5 l-grid__col--md-6 l-grid__col--sm-12 l-grid__col--xs-12">
            <a href="" target="_blank">
              <div class="c-places__list__item">
                <h6 class="c-places__list__item__type">KONAKLAMA</h6>
                <p class="c-places__list__item__name">Milli Eğitim Bakanlığı Öğretmenevleri</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-12 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12 u-text-center u-gap-top-medium">
        <button class="c-button c-places__button">daha fazla mekan</button>
      </div>
    </div>
  </div>
</div>
