<div class="c-social">
  <div class="l-grid">
    <div class="l-grid__col--lg-12 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12 u-gap-top-large u-gap-bottom-large">
      <h4 class="c-social__description u-text-center">Etkinliğimizi sosyal ağlardan takip edin!</h4>
    </div>
  </div>
  <ul class="c-social__icons list-unstyled u-text-center">
    <li class="c-social__icons__icon">
      <a href="https://www.facebook.com/webendorg/?ref=br_rs" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="c-social__icons__icon">
      <a href="https://twitter.com/webendorg" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="c-social__icons__icon">
      <a href="https://plus.google.com/111517651735865270909" target="_blank">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li class="c-social__icons__icon">
      <a href="https://www.instagram.com/webendorg/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li class="c-social__icons__icon">
      <a href="https://www.youtube.com/channel/UCUmfDu4Ux_uD9Hv5GKtNHAg" target="_blank">
        <i class="fa fa-youtube-play"></i>
      </a>
    </li>
  </ul>
</div>
