<div class="c-speakers u-pad-bottom-medium">
  <div class="container">
    <div class="c-speakers__list">
      {% for i in 1..8 %}
        <div class="c-speakers__list__item">
          <a data-type="ajax" href="/speaker.html" class="fancybox">
            <figure class="c-speakers__list__item__image">
              <img src="http://lorempixel.com/285/285" alt="Person" />
            </figure>
            <figcaption class="c-speakers__list__item__description">
              <span class="c-speakers__list__item__description__type">RUBY ON RAILS</span>
              <span class="c-speakers__list__item__description__name">Marianne Swofford</span>
            </figcaption>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
