<div class="c-sponsor u-gap-bottom-large u-pad-bottom-medium">
  <div class="container">
    <div class="c-sponsor__item u-pad-top-large">
      <h1 class="c-sponsor__item__title u-text-center u-gap-bottom-medium">ANA SPONSORLAR</h1>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
          {% for i in 1..2 %}
              <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-6 l-grid__col--xs-12">
                <div class="c-sponsor__item__list__item">
                  <a href="" target="_blank">
                    <figure class="c-sponsor__item__list__item__image u-text-center">
                      <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                    </figure>
                  </a>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
          {% for i in 1..3 %}
            <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-4 l-grid__col--xs-12">
              <div class="c-sponsor__item__list__item">
                <a href="" target="_blank">
                  <figure class="c-sponsor__item__list__item__image u-text-center">
                    <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="c-sponsor__item u-pad-top-large">
      <h2 class="c-sponsor__item__title u-text-center u-gap-bottom-medium">ALTIN SPONSORLAR</h2>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
            {% for i in 1..2 %}
              <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-6 l-grid__col--xs-12">
                <div class="c-sponsor__item__list__item">
                  <a href="" target="_blank">
                    <figure class="c-sponsor__item__list__item__image u-text-center">
                      <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                    </figure>
                  </a>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
            {% for i in 1..3 %}
              <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-4 l-grid__col--xs-12">
                <div class="c-sponsor__item__list__item">
                  <a href="" target="_blank">
                    <figure class="c-sponsor__item__list__item__image u-text-center">
                      <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                    </figure>
                  </a>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="c-sponsor__item u-pad-top-large">
      <h3 class="c-sponsor__item__title u-text-center u-gap-bottom-medium">MEDYA SPONSORLARI</h3>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
            {% for i in 1..2 %}
              <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-6 l-grid__col--xs-12">
                <div class="c-sponsor__item__list__item">
                  <a href="" target="_blank">
                    <figure class="c-sponsor__item__list__item__image u-text-center">
                      <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                    </figure>
                  </a>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
      <div class="c-sponsor__item__list">
        <div class="l-grid">
            {% for i in 1..3 %}
              <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-4 l-grid__col--xs-12">
                <div class="c-sponsor__item__list__item">
                  <a href="" target="_blank">
                    <figure class="c-sponsor__item__list__item__image u-text-center">
                      <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                    </figure>
                  </a>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
