<div class="c-timer u-gap-top-large u-gap-bottom-large">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col--lg-6 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12 l-grid__col--offset-lg-3 u-flex-align-self-middle">
        <time class="c-timer__text" id="timer" data-date="04/22/2017 09:00"></time>
        <p class="c-timer__description">Arkadaşlarına da haber ver, beraber gelin!</p>
      </div>
    </div>
  </div>
</div>
