

@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

@function gap($size, $position) {
  @return map-get(map-get($g-gaps, $size), $position);
}


@mixin font-face($font-name, $font-folder, $font-file-name, $font-weight : normal, $font-style : normal) {
  @font-face {
    font-family: $font-name;
    src: url("fonts/#{$font-folder}/#{$font-file-name}.eot");
    src: url("fonts/#{$font-folder}/#{$font-file-name}.eot?#iefix") format("embedded-opentype"),
         url("fonts/#{$font-folder}/#{$font-file-name}.woff") format("woff"),
         url("fonts/#{$font-folder}/#{$font-file-name}.ttf") format("truetype"),
         url("fonts/#{$font-folder}/#{$font-file-name}.svg##{$font-file-name}") format("svg");
    font-weight: $font-weight; font-style: $font-style;}
}


// IE 9+

@mixin font-face-modern ($font-name, $font-folder, $font-file-name, $font-weight : normal, $font-style : normal) {
  @font-face {
    font-family: $font-name;
    src: url("fonts/#{$font-folder}/#{$font-file-name}.woff2") format("woff2"),
         url("fonts/#{$font-folder}/#{$font-file-name}.woff") format("woff"), // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url("fonts/#{$font-folder}/#{$font-file-name}.ttf") format("truetype"); // Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: $font-weight; font-style: $font-style;
  }
}



@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}


@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%;
  height: auto;
}



@mixin image-retina($image2x, $width2x, $height2x) {

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($image2x);
    background-size: $width $height;
  }
}
