

@mixin form-control-block {
  display: block;
  width: 100%;
  height: $c-input-height-base;
  padding: $c-input-padding-vertical $c-input-padding-horizontal;
  font-size: $c-input-font-size;
  line-height: $c-input-line-height;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https:
  border-width: $c-input-border-width;
  border-style: solid;
}



@mixin form-control-modifier($color: $c-input-color, $bg-color: $c-input-bg-color, $border-color: $c-input-border-color, $radius: $c-input-border-radius, $placeholder: $c-input-color-placeholder, $focus-border-color: $c-input-border-focus) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  border-radius: $radius;


  @if not($placeholder == null) {
    &::placeholder {
      color: $placeholder;
    }
  }

  @if ($focus-border-color) {
    &:focus {
      border-color: $focus-border-color;
    }
  }

}
