.c-footer {
  background: url("../img/footer-icon.png") no-repeat center bottom;
  position: relative;

  &__logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 120px;
    opacity: .3;
    transition: $g-transition-duration;

    &:hover {
      opacity: 1;
    }
  }
}
