.slick-slider {
  .slick-arrow {
    font-size: 30px;
    width: 1em;
    height: 1em;

    &::before {
      font-family: icon;
      font-size: inherit;
      opacity: 1;
    }
  }

  .slick-prev {
    left: -1em;

    &::before {
      content: "\e900";
    }
  }

  .slick-next {
    right: -1em;

    &::before {
      content: "\e901";
    }
  }

  .slick-dots {
    bottom: -75px;

    li {
      &.slick-active {
        button {
          &::before {
            opacity: 1;
            transform: scale(1.2);
          }
        }
      }

      button {
        &::before {
          width: 16px;
          height: 16px;
          background: $color-white;
          border-radius: 50%;
          text-indent: -5000px;
          transform-origin: center;
          transition: $g-transition-duration;
        }
      }
    }
  }
}
