.c-about {
  background: url("/assets/images/about-back.png") no-repeat center;

  &__title {
    text-align: center;
    font-size: 36px;
  }

  &__seperator {
    position: relative;
    border-top-color: $color-jade;
    border-top-width: 8px;
    transform: rotate(-1deg);
  }

  &__detail {
    font-size: 20px;
    text-align: center;
  }
}
