.c-speakers {
  &__list {
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      $item: &;

      overflow: hidden;
      display: inline-block;
      flex: 1;
      min-width: 25%;
      opacity: .25;
      position: relative;
      transition: $g-transition-duration;
      cursor: default;

      &:hover {
        &,
        #{$item}__description,
        #{$item}__image::after {
          opacity: 1;
        }

      }

      &__description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        opacity: 0;
        transition: $g-transition-duration;
        z-index: 1;

        &__type {
          font-size: 12px;
          font-weight: bold;
          color: $color-white;
          display: block;
        }

        &__name {
          font-size: 32px;
          color: $color-white;
          word-spacing: 1200px;
          position: relative;

          &::after {
            content: "\e904";
            font-family: "icon", sans-serif;
            position: absolute;
            right: -1em;
            top: -.8em;
            font-size: 50px;
          }
        }
      }

      &__image {
        img {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          background: linear-gradient(to bottom, rgba($color-jade, 0) 0%, $color-jade 80%);
          opacity: 0;
          transition: $g-transition-duration;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .c-speakers {
    &__list {
      &__item {
        min-width: 50%;

        &,
        &__image::after,
        &__description {
          opacity: 1;
        }

        &__description {
          padding: 10px;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .c-speakers {
    &__list {
      &__item {
        min-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
