$timer-height: 250px;

.c-timer {
  min-height: $timer-height;
  position: relative;
  color: $color-white;
  text-align: center;

  &::before {
    content: "";
    background: url("/assets/images/command-line-balloons-2.png") repeat-x center, linear-gradient(to right, $color-shamrock 0%, $color-jade 100%);
    height: 100%;
    width: 110%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-1deg);
    z-index: -1;
  }

  &__text {
    font-size: 42px;
    font-weight: bold;
  }

  &__description {
    font-size: 24px;
  }

  .l-grid {
    min-height: $timer-height;
  }
}
