<div class="c-contact u-pad-top-small u-pad-bottom-small">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-6 l-grid__col--offset-lg-3 l-grid__col--md-8 l-grid__col--offset-md-2 l-grid__col--sm-12 l-grid__col--xs-12 u-text-center">
        <h3 class="c-contact__title u-gap-bottom-medium">İLETİŞİME GEÇİN</h3>
        <div class="c-contact__form u-gap-top-small u-gap-bottom-small">
          <div class="c-contact__form__group">
            <input type="text" name="name" class="c-contact__form__group__input u-text-center" placeholder="Adınız Soyadınız" required />
            <i class="icon icon-arrow-right"></i>
          </div>
          <div class="c-contact__form__group">
            <input type="email" name="email" class="c-contact__form__group__input u-text-center" placeholder="E-Posta" required />
          </div>
        </div>
        <div class="c-contact__instruction u-gap-top-medium">
          <i class="icon icon-cmd"></i>
          <i class="icon icon-enter"></i>
        </div>
      </div>
    </div>
  </div>
</div>
