<div class="c-gallery u-pad-top-medium u-pad-bottom-medium">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12 u-flex-align-self-middle">
        <p class="c-gallery__title">2016 Etkinliğimizde <b>neler yaptık</b></p>
      </div>
      <div class="l-grid__col l-grid__col--lg-8 l-grid__col--md-12 l-grid__col--sm-12 l-grid__col--xs-12">
        <div class="c-gallery__carousel">
          {% for i in 1..4 %}
          <div class="c-gallery__carousel__item">
            <a href="http://placehold.it/500x500" data-lightbox="roadtrip">
              <figure class="c-gallery__carousel__item__image">
                <img src="http://placehold.it/194x136" alt="" class="img-responsive">
              </figure>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
