<div class="c-schedule u-gap-top-large">
  <div class="container">
    <div class="c-schedule__list l-grid__col--lg-12 l-grid__col--md-10 l-grid__col--offset-md-1 l-grid__col--sm-10 l-grid__col--offset-sm-1">
      {% for i in 1..4 %}
      <div class="c-schedule__list__item">
        <time class="c-schedule__list__item__time">08:00 - 09:00</time>
        <h1 class="c-schedule__list__item__title">Kahve & Çay Servisi ile Tanışma</h1>
        <p class="c-schedule__list__item__location">Bahçeşehir Üniversitesi Kantini</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
