<div class="c-speakers">
  <div class="container">
    <div class="c-speakers__list">
      {% for i in 1..8 %}
        <div class="c-speakers__list__item">
          <figure class="c-speakers__list__item__image">
            <img src="http://lorempixel.com/285/285" alt="Person" />
          </figure>
          <figcaption class="c-speakers__list__item__description">
            <span class="c-speakers__list__item__description__type">RUBY ON RAILS</span>
            <span class="c-speakers__list__item__description__name">Marianne Swofford</span>
          </figcaption>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
