<div class="c-sponsor u-gap-top-large u-gap-bottom-large">
  <div class="container">
    <div class="l-grid">
      <div class="l-grid__col--lg-12 u-text-center">
        <h1 class="c-sponsor__title">ANA SPONSORLAR</h1>
      </div>
    </div>
    <div class="c-sponsor__list u-gap-top-medium">
      <div class="l-grid">
        {% for i in 1..2 %}
          <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="l-grid">
        {% for i in 1..3 %}
          <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="l-grid">
      <div class="l-grid__col--lg-12 u-text-center">
        <h2 class="c-sponsor__title">ALTIN SPONSORLAR</h2>
      </div>
    </div>
    <div class="c-sponsor__list u-gap-top-medium">
      <div class="l-grid">
        {% for i in 1..2 %}
          <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="l-grid">
        {% for i in 1..3 %}
          <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="l-grid">
      <div class="l-grid__col--lg-12 u-text-center">
        <h3 class="c-sponsor__title">MEDYA SPONSORLARI</h3>
      </div>
    </div>
    <div class="c-sponsor__list u-gap-top-medium">
      <div class="l-grid">
        {% for i in 1..2 %}
          <div class="l-grid__col l-grid__col--lg-6 l-grid__col--md-6 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="l-grid">
        {% for i in 1..3 %}
          <div class="l-grid__col l-grid__col--lg-4 l-grid__col--md-4 l-grid__col--sm-12 l-grid__col--xs-12">
            <div class="c-sponsor__list__item">
              <a href="" target="_blank">
                <figure class="c-sponsor__list__item__image u-text-center">
                  <img src="http://webend.org/images/netsparker.png" alt="" class="img-responsive" />
                </figure>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
