<!DOCTYPE HTML>
<html lang="tr">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Webend</title>
    <link rel="stylesheet" href="/components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="/components/fancybox/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css" />
    <link rel=stylesheet href="assets/css/main.css">
  </head>
  <body>

  <div id="page">
    {% block body %}{% endblock %}
  </div>

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/slick-carousel/slick/slick.min.js"></script>
  <script src="/components/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="assets/js/app.min.js"></script>
  </body>
</html>
